<h1>Crear Prospecto</h1>
<div class="contains">
    <div class="row justify-content-center">
        <div class="col-8 self-align-center">
          <h1 class="pb-5">Nuevo Prospecto</h1>

          <%= render "form", leads: @lead %>

          <br>

          <div>
            <%= link_to "Volver a listado", leads_path, class:"btn btn-primary mt-3" %>
          </div>
            
        </div>
    </div>
</div>
